.privacy-box {
    max-width: 184rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 8rem;

    &::after {
        content: '';
        display: table;
        clear: both;
    }

    &__list {

        &__item {
            margin-left: 4rem;
        }
    }

    &__description {

        dt {
            font-size: $default-font-size;
            font-weight: 700;
            color: $color-secondary;
            margin: .5rem 0;
        }

    }
}