    /*************************************/
            /* style mobileFirst */
    /*************************************/
/*************************************/
        /* style general */
/*************************************/
/* mise en place de la grille */
/* main{
    display: grid;
    grid-template-columns: 1 auto;
    grid-template-rows: repeat(5,auto);
    grid-template-areas: "header" "about"
    "skills" "contact"
    "footer";
} */
/* header{
    grid-area: header;
}
#about{
    grid-area: about;
}
#skills{
    grid-area: skills;
}
#contact{
    grid-area: contact;
}
footer{
    grid-area: footer;
} */
/* pour oter les styles par defaut des listes et des liens */
ul{
    padding: 0;
    margin: 0;
}

li,
a{
    list-style: none;
    text-decoration: none;
    display: block;
    color: #1c1c1c;
}

/* style general des sections et div */
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.row{
    display: flex;
}
/* pour pousser les elements a droite */
.push{
    margin-left: auto;
}

/* style general des bouttons */
.button{
    margin: auto;
    padding:10px;
    background-color: #ffffff;
    color:rgb(255, 109, 97);
    border: solid rgb(255, 109, 97);
    border-radius: 10px;
    width: 150px;
}
/* pour animer les buttons */
@keyframes shake {
    0% { transform: translate(1px, 1px); }
    
    50% { transform: translate(-1px, 2px); }
    
    100% { transform: translate(1px, -2px); }
}

.button:hover{
    background-image: linear-gradient(to right bottom, #ffaa81, #ff916f, #ff7563, #ff545d, #ff1e5c);
    border: solid #f4f4f4;
    color: #ffffff;
    animation: shake 0.5s ;
}



/* police generale */
body{
    /* font-family: 'Atma', cursive; */
    font-size: 1.2rem;
}

h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: capitalize;
    
}
h1:not(.white){
    background: linear-gradient(to right bottom, #ffaa81, #ff9773, #ff8368, #ff6d61, #ff545d, #fe4559, #fd3455, #fc1852, #f9144a, #f61143, #f30e3b, #ef0d33);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* h1:not(.white)::before{
    content:"";
    position: absolute;
    background-color: rgba(255, 170, 128, 0.1);
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
} */

h2{
    font-size: 1.5rem;
    font-weight: 900;
}

h3{
    font-size: 1rem;
    font-weight: 900;
}
h4{
    font-size: 1rem;
    font-weight: 400;
}
p{
    /* font-family: 'Buda', cursive; */
    font-size: 1rem;
    font-weight: 400;
    color: rgb(142, 142, 142);
    text-align: justify;
}
/*************************************/
        /* style du header */
/*************************************/

/* style principal du header */
header{
    background-size: cover;
    height: 100vh;
    color: #ffffff;
    /* background-image: linear-gradient(to right bottom, #ffaa81, #ff916f, #ff7563, #ff545d, #ff1e5c); */
    background: linear-gradient(to right bottom, #ffaa81, #ff9773, #ff8368, #ff6d61, #ff545d, #fe4559, #fd3455, #fc1852, #f9144a, #f61143, #f30e3b, #ef0d33);
} 

/* style section menu dans header */

/* pour positionner le menu et le logo avant le home*/
#menu{
    flex-direction: row;
    align-items: center;
    order: -1;
    width: 100%;
    text-align: left;
}
#menu img{
    padding: 10px;
    padding-right: 0px;
}
.sticky{
    transition: all 0.5s ease-in-out;
    position: fixed;
    background: linear-gradient(to right bottom, rgba(255, 170, 129,0.3), rgba(255, 145, 111, 0.3),rgba(255, 117, 99, 0.3), rgba(255, 84, 93, 0.3), rgba(255, 30, 92, 0.2));
    color: rgb(92, 92, 92);
    z-index: 999;
}
.sticky #burger-button,
.sticky #menu-nav a{
    transition: color 1s ease-in-out;
    color: rgb(92, 92, 92);
}
.sticky #menu-nav a:hover{
    transform: scale(1.1);
    border-bottom: 0.5px solid rgb(92, 92, 92);
}
/* pour aerer le menu */
#menu span,
#container-burger{
    padding: 10px 20px 10px 20px;
}

/* pour effacer la nav menu */
#menu-nav{
    display: none;
}

/* style du menu burger */

/* style de l'icone burger*/
#burger-button{
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-size: 2rem;
    padding:0px;
    color: #ffffff;
}
#burger-button:hover{
    transform: scale(1.5);
    transition: transform .2s ease-out;
}
/* style de la side-bar */
#burger-sidebar{
    position: fixed;
    z-index: 20;
    height: 100vh;
    top: 0;
    left: 0;
    text-align: left;
    /* background-color: rgba(255, 170, 128, 0.9); */
    background-image: linear-gradient(to right bottom, rgba(255, 170, 129,0.8), rgba(255, 145, 111, 0.8),rgba(255, 117, 99, 0.8), rgba(255, 84, 93, 0.8), rgba(255, 30, 92,0.8));
    transform: translateX(-100%);
    transition: transform .2s ease-out;
}

/* style du contenu de la sidebar */

/* pour faire apparaitre le contenu */
#burger-sidebar #menu-nav{
    display: inherit;
}

/* pour aligner la liste */
#burger-sidebar #menu-nav ul{
    display: flex;
    flex-direction: column;
}

#burger-sidebar #menu-nav a{
    color: #ffffff;
    padding: 10px;
    background-color: #ff545d;
    border-bottom: 1px solid #ff1e5c;
}
#burger-sidebar #menu-nav a:hover{
    color:#ff1e5c;
}
/* pour faire apparaitre la sidebar sur la page */
.burger-activated #burger-sidebar{
    transform: translateX(0);
}    

/* style section home dans header */

/* pour centrer le container du titre et des logo */
#home{
    margin: auto;
}

/* pour aerer le titre */
#home h1{
    padding: 10px;
}

.big-bubble{
    position: absolute;
    background-color: rgba(255, 170, 128, 0.3);
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
}
/* .small-bubble{
    position: absolute;
    background-color: rgba(255, 170, 128, 0.8);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
} */

#home i{
    padding: 5px;
    color: #ffffff;
    border: none;
    background-color: rgba(255, 170, 128, 0.6);
}
#home i:hover{
    background-color: rgba(255, 170, 128, 0.3); 
}
#home a:hover{
   background: none;
}

/*************************************/
        /* style section about*/
/*************************************/
#about{
    background: linear-gradient(to right top, rgba(255, 170, 129, 0.8), rgba(255, 84, 93, 0.8), rgba(255, 145, 111, 0.8));
}


/*************************************/
        /* style section skills*/
/*************************************/
#skills{
    background: linear-gradient(to right bottom, rgba(255, 170, 129, 0.8), rgba(255, 84, 93, 0.8), rgba(255, 30, 92,0.8));
}
/* pour placer les buttons dans le flux */
#skills-button{
    display: flex;
    justify-content: center;   
}

/* cf style general pour les autres styles des buttons */
#skills-button a{
    margin: 10px;
}
/*pour placer les div containers dans les containers */
.container.skills{
    justify-content: space-around;
    flex-wrap: nowrap;
}
.logo{
    text-align: center;
}

.logo img{
    margin: auto;
    max-width: 50px;
    max-height: 50px;
}




/*************************************/
    /* style de la section projects */       
/*************************************/
#projects{
    
    background: linear-gradient(to right top, rgba(255, 170, 129, 0.8), rgba(255, 84, 93, 0.8), rgba(255, 30, 92,0.8));
}

/* #projects{
    background: linear-gradient(to right top, rgba(255, 170, 129, 0.8), rgba(255, 84, 93, 0.8), rgba(255, 30, 92,0.8));
} */
.container.case{
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
}
/* style des icones */
i{
    border: solid rgba(255, 145, 111, 0.6);
    color: rgb(255, 145, 111);
    border-radius: 50%;
    transition: background-color 2s ease-out, color 2s ease-out;
}

.container.case:hover i{
    border: solid rgba(255, 30, 92, 0.2);
    color : #ff1e5c;
    background: linear-gradient(to right bottom, rgba(255, 170, 129, 0.5), rgba(255, 84, 93, 0.5), rgba(255, 145, 111, 0.5)); 
}
/* pour centrer dans le container */
.container.case i, 
.container.case h2,
.container.case p{
    padding: 20px;
    margin: auto;
}
.container.case i{
    padding: 20px;
    margin: 10px;
}
/*************************************/
    /* style de la section contact */       
/*************************************/

#contact{
    background: linear-gradient(to right bottom, rgba(255, 170, 129, 0.8), rgba(255, 84, 93, 0.8), rgba(255, 145, 111, 0.8)); 
}
#contact input{
    box-shadow: -1px 2px 5px 1px rgba(255, 255, 255, 0.3);
}
/*************************************/
        /* style du footer */       
/*************************************/
footer{
    background-image: linear-gradient(to right bottom, #ffaa81, #ff9773, #ff8368, #ff6d61, #ff545d, #fe4559, #fd3455, #fc1852, #f9144a, #f61143, #f30e3b, #ef0d33);
    /* background-color: rgba(255, 170, 128, 0.09); */
    display:flex;
}
footer small{
    color: #ffffff;
    margin: auto;
    padding:20px;
}
    /***************************************************/
            /* fin du style mobile First */
    /***************************************************/

/* ******************************************************************** */

    /***************************************************/
            /* style avec mediaquery a partir de 768px */
    /***************************************************/
/* @media screen and (min-width: 768px){

    .main{
        grid-template-columns: 30vw 70vw;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:"header header" 
                            "about skills" 
                            "contact skills"
                            "footer footer";
    }
} */



    

    /***************************************************/
                    /* fin du style 768px */
    /***************************************************/

/* ******************************************************************** */

    /***************************************************/
            /* style avec mediaquery a partir de 1050px */
    /***************************************************/

@media screen and (min-width: 1050px){
        
/* .main{
    grid-template-columns: 40vw 60vw;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:"header header" 
                        "about skills" 
                        "contact skills"
                        "footer footer";
} */
        
        /*************************************/
                /* style du menu dans header */
        /*************************************/
        
    /* pour effacer le menu burger */
#burger-button, 
#burger-sidebar, 
.burger-activated{
    display: none;
}
        
    /* pour replacer la nav menu */
#menu-nav{
    display: inherit;
}
        
    /* pour positionner la nav menu */
header ul{
    display: flex; 
}
        
#menu a{
    color: #ffffff;
    padding: 10px;
}
#menu-nav a:hover{
    transform: scale(1.1);
    border-bottom: 0.5px solid #ffffff;
}
/*************************************/
        /* style section about*/
/*************************************/


/*************************************/
        /* style section skills*/
/*************************************/
.container.logo{
    flex-direction: row;
}
/*************************************/
        /* style section skills*/
/*************************************/

/*************************************/
    /* style de la section contact */       
/*************************************/



}  