    /*************************************/
            /* style mobileFirst */
    /*************************************/
/*************************************/
        /* style general */
/*************************************/
/* mise en place de la grille */
/* main{
    display: grid;
    grid-template-columns: 1 auto;
    grid-template-rows: repeat(6,auto);
    grid-template-areas: "header" "about"
    "skills" "projects" "contact"
    "footer";
} */
/* header{
    grid-area: header;
}
#about{
    grid-area: about;
}
#skills{
    grid-area: skills;
}
#projects{
    grid-area: projects;
}
#contact{
    grid-area: contact;
}
footer{
    grid-area: footer;
} */
/* pour oter les styles par defaut des listes et des liens */
ul{
    padding: 0;
    margin: 0;
}

li,
a{
    list-style: none;
    text-decoration: none;
    display: block;
    color: #1c1c1c;
}

/* style general des sections et div */
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.row{
    display: flex;
}

.case{
    padding: 20px;
    margin: 20px;
    background: rgba(255,255,255,0.9);
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
/* pour pousser les elements a droite */
.push{
    margin-left: auto;
}

/* style general des bouttons */
.button{
    margin: auto;
    padding:10px;
    background-color: #ffffff;
    color:rgb(255, 109, 97);
    border: solid rgb(255, 109, 97);
    border-radius: 10px;
    width: 250px;
}

.button:hover{
    background-image: linear-gradient(to right bottom, #ffaa81, #ff916f, #ff7563, #ff545d, #ff1e5c);
    border: solid #f4f4f4;
    color: #ffffff;
}



/* police generale */
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    color:#9e9e9e;
}

h1{
    font-size: 3rem;
    font-weight: 900;
}
/* h1:not(.white){
    background: linear-gradient(to right bottom, #ffaa81, #ff9773, #ff8368, #ff6d61, #ff545d, #fe4559, #fd3455, #fc1852, #f9144a, #f61143, #f30e3b, #ef0d33);
    background: -webkit-linear-gradient(to right bottom, #ffaa81, #ff9773, #ff8368, #ff6d61, #ff545d, #fe4559, #fd3455, #fc1852, #f9144a, #f61143, #f30e3b, #ef0d33);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
h1:not(.white){
    color: #293133;
}
h2{
    font-size: 1.5rem;
    font-weight: 900;
    color: #293133;
}

h3{
    font-size: 1rem;
    font-weight: 900;
}
h4{
    font-size: 1rem;
    font-weight: 400;
}
h1,h2,h3{
    text-transform: capitalize;
}

p{
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #8a5e6c;
}

/*************************************/
        /* style du header */
/*************************************/

/* style principal du header */
header{
    background-size: cover;
    height: 100vh;
    color: #ffffff;
    /* background-image: linear-gradient(to right bottom, #ffaa81, #ff9c76, #ff8d6d, #ff7e66, #ff6d61, #ff625f, #ff575d, #ff4a5c, #ff425c, #ff385c, #ff2d5c, #ff1e5c); */
    /* background-image: linear-gradient(to right bottom, #ffaa81, #ff916f, #ff7563, #ff545d, #ff1e5c); */
    background: linear-gradient(to right bottom, #ffaa81, #ff9773, #ff8368, #ff6d61, #ff545d, #fe4559, #fd3455, #fc1852, #f9144a, #f61143, #f30e3b, #ef0d33);
} 

/* style section menu dans header */

/* pour positionner le menu et le logo avant le home*/
#menu{
    flex-direction: row;
    align-items: center;
    order: -1;
    width: 100%;
    text-align: left;
}
#menu img{
    padding: 10px;
    padding-right: 0;
}
.sticky{
    transition: all 0.5s ease-in-out;
    position: fixed;
    background: linear-gradient(to right bottom, rgba(255, 170, 129,0.4), rgba(255, 145, 111, 0.4),rgba(255, 117, 99, 0.4), rgba(255, 84, 93, 0.4), rgba(255, 30, 92, 0.4));
    color: rgb(92, 92, 92);
    z-index: 999;
}
.sticky #burger-button,
.sticky #menu-nav a{
    transition: color 1s ease-in-out;
    color: rgb(92, 92, 92);
}

/* pour aerer le menu */
#menu span,
#container-burger{
    padding: 10px 20px 10px 20px;
}

/* pour effacer la nav menu */
#menu-nav{
    display: none;
}

/* style du menu burger */

/* style de l'icone burger*/
#burger-button{
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    font-size: 2rem;
    padding:0;
    color: #ffffff;
}
#burger-button:hover{
    transform: scale(1.5);
    transition: transform .2s ease-out;
}
/* style de la side-bar */
#burger-sidebar{
    position: fixed;
    z-index: 20;
    height: 100vh;
    top: 0;
    left: 0;
    text-align: left;
    background-image: linear-gradient(to right bottom, rgba(255, 170, 129,0.8), rgba(255, 145, 111, 0.8),rgba(255, 117, 99, 0.8), rgba(255, 84, 93, 0.8), rgba(255, 30, 92,0.8));
    transform: translateX(-100%);
    transition: transform .2s ease-out;
}

/* style du contenu de la sidebar */

/* pour faire apparaitre le contenu */
#burger-sidebar #menu-nav{
    display: inherit;
}

/* pour aligner la liste */
#burger-sidebar #menu-nav ul{
    display: flex;
    flex-direction: column;
}

#burger-sidebar #menu-nav a{
    color: #ffffff;
    padding: 10px;
    background-color: #ff545d;
    border-bottom: 1px solid #ff1e5c;
}
#burger-sidebar #menu-nav a:hover{
    color:#ffaa81;
}
/* pour faire apparaitre la sidebar sur la page */
.burger-activated #burger-sidebar{
    transform: translateX(0);
}    

/* style section home dans header */

/* pour centrer le container du titre et des logo */
#home{
    margin: auto;
}

@keyframes shadow{
    from {text-shadow:0 0 rgba(0, 0,0,.8);}
    to {text-shadow:20px 20px 10px rgba(0,0,0,.2);}
}


#home h1{
    padding: 10px;
    z-index: 1;
    animation: shadow 5s forwards;
}


@keyframes wheelOpacity{
    from{opacity: 0.3;}
    10%{opacity: 0.5;}
    60%{opacity: 0.7;}
    to{opacity: 0.9;}
    
}
.big-bubble{
    position: absolute;
    background-color: rgba(255, 170, 128,0.3);
    border-radius: 4rem;
    width: 8rem;
    height: 8rem;
    box-shadow: inset 2px 2px 5px 1px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 2px 2px 5px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 2px 2px 5px 1px rgba(255, 255, 255, 0.3);
    -o-box-shadow: inset 2px 2px 5px 1px rgba(255, 255, 255, 0.3);
    animation: wheelOpacity 5s forwards;
}

@keyframes iBubbles {
    0% {
        opacity:1;
        width: 5px;
        height: 5px;
        font-size:1px;
        transform:translate(0, 200px);
    }
    100% {
        opacity:1;
        width: 30px;
        height: 30px;
        font-size:25px;
        transform:translate( 0, -250px);
    }
}
.i-bubbles{
    margin:auto;
    width: 400px;
    height: 50px;
}

header:hover i{
    animation: iBubbles 1.5s infinite alternate;
}
#home i{
    
    opacity: 0;
    padding: 5px;
    color: #ffffff;
    border: none;
    background-color: rgba(255, 170, 128, 0.6);
    box-shadow: 1px 2px 5px 1px inset rgba(255, 255, 255, 0.3);
}
#home i:nth-of-type(2) {

    animation-delay: 0.3s;
}
#home i:nth-of-type(3) {

    animation-delay: 0.6s;
}
#home i:nth-of-type(4) {

    animation-delay: 0.8s;
}
#home i:nth-of-type(5) {

    animation-delay: 0.7s;
}
#home i:nth-of-type(6) {

    animation-delay: 0.5s;
}
#home i:nth-of-type(7) {

    animation-delay: 0.4s;
}

#home a:hover{
   background: none;
}

/*************************************/
        /* style section about*/
/*************************************/

#about{
    background: #b054c8;
}
.pitch{
    padding: 20px;
}
.pitch p{
    color: #293133;
}
/*************************************/
        /* style section skills*/
/*************************************/

#skills{
    background: #eb3996;
}
/* pour placer les buttons dans le flux */
#skills-button{
    display: flex;
    justify-content: center;   
}

/* cf style general pour les autres styles des buttons */
#skills-button a{
    margin: 10px;
}

.container.case h3{
    color: #8a5e6c;
}
/*pour placer les div containers dans les containers */
.container.skills{
    justify-content: space-around;
}
.logo-content{
    display: flex;
    flex-direction: column;
}

.logo img{
    max-width: 70%;
}
.logo-txt{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.logo h4{
    color: #b054c8;
}
.logo h3{
    color: #eb3996;
}

/*************************************/
    /* style de la section projects */       
/*************************************/

#projects{
   background:  #fe4559;
}

/* style des icones */
i{
    /* border: solid rgba(255, 145, 111, 0.6); */
    border: solid rgba(254, 69, 89,0.8);
    /* color: #ff545d; */
    color: rgba(254, 69, 89,0.8);
    background-color: none;
    border-radius: 50%;
    transition: background-color 2s ease, color 2s ease;
}

.project:hover i{
    background: rgba(254, 69, 89,0.5);
    color: #fff;
}
/* pour centrer dans le container */
#projects h2,
#projects p{
    padding: 20px;
    margin: auto;
}
#projects i{
    padding: 20px;
    margin: 10px;
}

#projects .container{
    margin: 30px;
}
video{
    margin:auto;
}
/*************************************/
    /* style de la section contact */       
/*************************************/
#contact{
    padding: 50px;
    background: #b054c8;
}

/*************************************/
        /* style du footer */       
/*************************************/
footer{
    background-image: linear-gradient(to right bottom, #ffaa81, #ff9c76, #ff8d6d, #ff7e66, #ff6d61, #ff625f, #ff575d, #ff4a5c, #ff425c, #ff385c, #ff2d5c, #ff1e5c);
    /* background-image: linear-gradient(to bottom, #ffaa81, #ff9773, #ff8368, #ff6d61, #ff545d, #fe4559, #fd3455, #fc1852, #f9144a, #f61143, #f30e3b, #ef0d33); */
    display:flex;
}
footer small{
    color: #ffffff;
    margin: auto;
    padding:20px;
}
    /***************************************************/
            /* fin du style mobile First */
    /***************************************************/

/* ******************************************************************** */

    /***************************************************/
            /* style avec mediaquery a partir de 768px */
    /***************************************************/
/* @media screen and (min-width: 768px){

    .main{
        grid-template-columns: 30vw 70vw;
        grid-template-rows: repeat(5, auto);
        grid-template-areas:"header header" 
                            "about contact" 
                            "skills skills"
                            "projects projects"
                            "footer footer";
    }
} */



    

    /***************************************************/
                    /* fin du style 768px */
    /***************************************************/

/* ******************************************************************** */

    /***************************************************/
            /* style avec mediaquery a partir de 1050px */
    /***************************************************/

@media screen and (min-width: 1050px){
        
/* .main{
    grid-template-columns: 40vw 60vw;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:"header header" 
                        "about about" 
                        "skills skills"
                        "projects projects"
                        "footer footer";
} */
        
        /*************************************/
                /* style du menu dans header */
        /*************************************/
        
    /* pour effacer le menu burger */
#burger-button, 
#burger-sidebar, 
.burger-activated{
    display: none;
}
        
    /* pour replacer la nav menu */
#menu-nav{
    display: inherit;
}
        
    /* pour positionner la nav menu */
header ul{
    display: flex; 
}
        
#menu a{
    color: #ffffff;
    padding: 10px;
}
#menu-nav a:hover{
    transform: scale(1.1);
}

.underline{
    border-bottom: 0.5px solid; 
}
/*************************************/
        /* style section about*/
/*************************************/


/*************************************/
        /* style section skills*/
/*************************************/

.logo-content{
    flex-direction: row;
}

.logo img{
    max-width: 100%;
}
.logo{
    flex-direction: column;
    width: 70%;    
}
.logo-txt{
    text-align: center;
}
/*************************************/
        /* style section realisations */
/*************************************/
.proj-row{
    flex-direction: row;
}
.project{
    width: 70%;
}
/*************************************/
    /* style de la section contact */       
/*************************************/



}  